#detailed-page {
    width: 100%;
}

#detailed-post {
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr;
}

#detailed-title-details {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    margin: 0;
}

.detailed-title h1 {
    font-size: 50px;
    margin: 0;
}

.detailed-author {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 2px solid #FBFEF9;
    width: 100%;
}

.detailed-author h3 {
    font-size: 35px;
    margin: 0 0 5px 0;
}

.detailed-author h4 {
    font-size: 25px;
    margin: 0 0 5px 0;
}

.detailed-author h5 {
    font-size: 22px;
    margin: 0;
}

.detailed-content p {
    font-size: 20px;
}

#detailed-interaction {
    justify-content: space-between;
}

#add-button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    background-color: #5a9367;
    color: #FBFEF9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-button:hover {
    background-color: #375c40;
}

#int-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

}

#like-comment-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

#like-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#like-section>p {
    font-size: 25px;
    margin: 0;
}

#comment-button-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#comment-button-section>p {
    font-size: 25px;
    margin: 0;
}

.like-button {
    font-size: 30px;
    background-color: #5a936700;
    color: #FBFEF9;
    border: none;
    cursor: pointer;
}

.comment-button {
    font-size: 28px;
    background-color: #5a936700;
    color: #FBFEF9;
    border: none;
    cursor: pointer;
}

.comment-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-box button {
    margin: 0 10px;
}

.edit-btn {
    padding: 5px 9px;
    background-color: #5a9367;
    color: #FBFEF9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #375c40;
}

.edit-btn-icon {
    font-size: 25px;
    color: #FBFEF9;
    margin: 0;
    padding: 0;
}

#detailed-interaction textarea {
    font-family: 'bebas neue', sans-serif;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #FBFEF9;
    width: inherit;
    border-radius: 5px;
    font-size: 15px;
    width: 50%;
    display: inline-block;
}

.detailed-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#comment-section {
    width: 90%;
    border: 2px solid #FBFEF9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#delete-section {
    text-align: center;
}

.delete-btn {
    font-family: 'bebas neue', sans-serif;
    font-size: 18px;
    background-color: #c52c2c;
    border: none;
    color: #FBFEF9;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 16px;
}

.delete-btn:hover {
    background-color: #a52626;
    color: #FBFEF9;
}

#avatar-loading {
    background-color: black;
}

#avatar-detailed > img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin: 0 20px;
    border: 2px solid #FBFEF9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.769);
}