#detailed-page {
    width: 100%;
}

#detailed-post {
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 2fr;
}

#detailed-title-details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0;
}

.detailed-title h1 {
    font-size: 50px;
    margin: 0;
}

.detailed-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #FBFEF9;
}

.detailed-author h3 {
    font-size: 35px;
    margin: 0 0 0 10px;
}

.detailed-author h4 {
    font-size: 25px;
    margin: 0 0 0 10px;
}

.detailed-content p {
    font-size: 20px;
}

#detailed-interaction {
    justify-content: space-between;
}

#add-button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    background-color: #5a9367;
    color: #FBFEF9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#like-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

#like-section > p {
    font-size: 25px;
    margin: 0;
}

.like-button {
    font-size: 30px;
    background-color: #5a936700;
    color: #FBFEF9;
    border: none;
    cursor: pointer;
}

.comment-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-box button{
    margin: 0 10px;
}

#detailed-interaction textarea {
    font-family: 'bebas neue', sans-serif;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #FBFEF9;
    width: inherit;
    border-radius: 5px;
    font-size: 15px;
    width: 50%;
    display: inline-block;
}

.detailed-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#comment-section {
    width: 90%;
    border: 2px solid #FBFEF9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#delete-section {
    text-align: center;
}

.delete-btn {
    font-family: 'bebas neue', sans-serif;
    font-size: 18px;
    background-color: #c52c2c;
    border: none;
    color: #FBFEF9;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 16px;
}

.delete-btn:hover {
    background-color: #a52626;
    color: #FBFEF9;
}