.login-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

.login-grid {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 25px;;
}

.login-field label {
    margin-bottom: 5px;
    font-size: 20px;
    display: block;
}

.login-grid input {
    padding: 10px;
    border: 1px solid #FBFEF9;
    border-radius: 5px;
    width: -webkit-fill-available;
    font-size: 15px;
}

.login-btn {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    background-color: #5a9367;
    color: #FBFEF9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-btn:hover {
    background-color: #44633f;
}

.login-btn > h1 {
    color: #FBFEF9;
}

#login-redirect {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    background-color:#5a936700;
    color: #FBFEF9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}