#profile-page {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 20px;
    width: 100%;
}

#user-avatar {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    background-color: #FBFEF9;
    border: 3px solid #FBFEF9;
    margin: 0 0 15px 40px;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

#user-avatar > img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    z-index: 0;
    justify-self: end;
}

#add-avatar {
    background-color: #44633f;
    color: #FBFEF9;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    bottom: 5px; 
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

#add-avatar:hover {
    background-color: #273924;
}


#user-information {
    width: 340px;
    height: 450px;
    background-color: #323b2f00;
    border-radius: 8px;
    position: fixed;
}

#main-information-profile > h1 {
    font-size: 40px;
    margin: 0 0 10px 40px;
}

#main-information-profile > h2 {
    font-size: 35px;
    margin: 0 0 10px 40px;
}

#main-information-profile> h3 {
    font-size: 25px;
    margin: 0 0 10px 40px;
}

#user-stats {
    width: 100%;
    height: max-content;
    background-color: #323b2f;
    border-radius: 8px;
    text-align: center;
    justify-content: flex-start;
    border: 2px solid #FBFEF9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
    margin: 0 0 15px 0;
}

#user-stats > h2 {
    margin: 20px 0 10px 0;
    font-size: 40px;
}

#user-stats > h3 {
    margin: 0 0 20px 0;
    font-size: 30px;
}

#user-stats > h4 {
    color: #c52c2c;
    margin: 0 0 20px 0;
    font-size: 25px;
}