.container {
    width: 1400px;
    min-width: 50%;
    height: auto;
    background-color: #000000;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 8px;
}