.create-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

.create-grid {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 20px;
    margin-bottom: 25px;
    ;
}

.create-grid label {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

.create-grid input {
    padding: 10px;
    border: 1px solid #FBFEF9;
    border-radius: 5px;
    width: -webkit-fill-available;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.create-grid textarea {
    padding: 10px;
    border: 1px solid #FBFEF9;
    border-radius: 5px;
    height: 100px;
    width: -webkit-fill-available;
    resize: none;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.create-btn {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #5a9367;
    color: #FBFEF9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-btn:hover {
    background-color: #44633f;
}

.create-btn>h1 {
    color: #FBFEF9;
}

.category-grid {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    gap: 10px;
    margin-bottom: 10px;
}

.category-grid select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.category-grid option {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
}

.category-grid select {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    background-color: #121212;
}