.homepage section {
    display: flex;
    flex-direction:row;
    height: 85%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
}

.links {
    width: 150px;
    height: 150px;
}