.homepage {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}
.top-grid {
    display: flex;

    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .image {
    width: 30%; 
    height: auto;
    border-radius: 4px;
  }

.links {
    width: 300px;
    height: auto;
}

.links:hover {
    transform: scale(1.1);
  }