.homepage {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}
.top-grid {
    display: flex;

    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

.links {
    width: 300px;
    height: auto;
    border-radius: 4px;
}

.links:hover {
    transform: scale(1.1);
}

.bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .count {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    width: 100%; 
    margin-top: 0;
    padding: 20px;
  }