/* Header.css */

.header {
    background-color: #44633f;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.nav-link {
    font-size: 20px;
    color: #FBFEF9;
    text-decoration: none;
    margin-right: 10px;
}

.nav-link:hover {
    color: #bfc2bd;
}