.post-box {
    background-color: #323b2f;
    color: #FBFEF9;
    border: solid 2px #FBFEF9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

.post-content-section {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.3fr;
    gap: 10px;
    height: auto;
}

.title-box {
    padding: 10px;
    border-bottom: solid 2px #FBFEF9;
}

.title-box h2 {
    font-size: 30px;
    margin: 10px 0;
}

.title-box h4 {
    font-size: 18px;
    margin: 0;
}

#title-category-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-category-box h3 {
    font-size: 23px;
    margin: 0;
}

.content-box {
    padding: 15px;
}

.content-box p {
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

#details-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#details-btn>button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    width: 70px;
    height: 70px;
    background-color: #fbfef9;
    color: #323b2f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post-interaction-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-interaction-info>p {
    font-size: 20px;
    margin: 0;
}

#interaction-buttons-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#small-like-section {
    display: flex;
    justify-content: start;
    align-items: center;
}

#small-like-section>p {
    font-size: 20px;
    margin: 0 0 0 5px;
}

#small-comment-section {
    display: flex;
    justify-content: start;
    align-items: center;
}

#small-comment-section>p {
    font-size: 20px;
    margin: 0 0 0 5px;
}

.small-like-button {
    font-size: 20px;
    background-color: #5a936700;
    color: #FBFEF9;
    border: none;
    cursor: pointer;
}

.small-comment-button {
    font-size: 20px;
    background-color: #5a936700;
    color: #FBFEF9;
    border: none;
    cursor: pointer;
}

.view-details-icon {
    font-size: 40px;
    margin: 8px 0 0 0;
    padding: 0;
    
}